In [1]:
import pandas as pd

In [5]:
evolution = pd.read_csv('../data/1/evolution.csv')
moves = pd.read_csv('../data/1/moves.csv')
pokemon = pd.read_csv('../data/1/pokemon.csv')
typechart = pd.read_csv('../data/1/typechart.csv')

In [10]:
evolution

    Evolving from Evolving to  Level  Condition Evolution Type
0       Bulbasaur     Ivysaur   16.0        NaN          Level
1         Ivysaur    Venusaur   32.0        NaN          Level
2      Charmander  Charmeleon   16.0        NaN          Level
3      Charmeleon   Charizard   36.0        NaN          Level
4        Squirtle   Wartortle   16.0        NaN          Level
..            ...         ...    ...        ...            ...
385     Chingling    Chimecho    NaN  Nighttime      Happiness
386       Buneary     Lopunny    NaN        NaN      Happiness
387         Riolu     Lucario    NaN    Daytime      Happiness
388        Woobat     Swoobat    NaN        NaN      Happiness
389      Swadloon    Leavanny    NaN        NaN      Happiness

[390 rows x 5 columns]

In [7]:
moves.head()

,Name,Type,Cat.,Power,Acc.,PP,TM,Effect,Prob. (%)
0,Absorb,GRASS,Special,20.0,100,25.0,NaN,User recovers half the HP inflicted on opponent.,NaN
1,Acid,POISON,Special,40.0,100,30.0,NaN,May lower opponent's Special Defense.,10.0
2,Acid Armor,POISON,Status,NaN,NaN,40.0,NaN,Sharply raises user's Defense.,NaN
3,Acid Spray,POISON,Special,40.0,100,20.0,NaN,Sharply lowers opponent's Special Defense.,100.0
4,Acrobatics,FLYING,Physical,55.0,100,15.0,TM62,Stronger when the user does not have a held item.,NaN

In [11]:
pokemon

,Number,Name,Type,Total,HP,Attack,Defense,Special Attack,Special Defense,Speed
0,001,Bulbasaur,GRASS,318,45,49,49,65,65,45
1,001,Bulbasaur,POISON,318,45,49,49,65,65,45
2,002,Ivysaur,GRASS,405,60,62,63,80,80,60
3,002,Ivysaur,POISON,405,60,62,63,80,80,60
4,003,Venusaur,GRASS,525,80,82,83,100,100,80
...,...,...,...,...,...,...,...,...,...,...
1163,716,Xerneas,FAIRY,680,126,131,95,131,98,99
1164,717,Yveltal,DARK,680,126,131,95,131,98,99
1165,717,Yveltal,FLYING,680,126,131,95,131,98,99
1166,718,Zygarde,DRAGON,600,108,100,121,81,95,95
1167,718,Zygarde,GROUND,600,108,100,121,81,95,95

In [9]:
typechart.head()

   Attack   Defense Effectiveness  Multiplier
0  NORMAL    NORMAL        Normal         1.0
1  NORMAL      FIRE        Normal         1.0
2  NORMAL     WATER        Normal         1.0
3  NORMAL  ELECTRIC        Normal         1.0
4  NORMAL     GRASS        Normal         1.0